@model IEnumerable<InscripcionMaterias.Models.Alumno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Carnet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPensum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPensum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" title="Editar">
                        <i class="fa fa-edit fa-lg text-primary"></i>
                </a>
                    <a asp-action="Details" asp-route-id="@item.Id" title="Detalles">
                        <i class="fas fa-search fa-lg text-success"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id"  title="Eliminar">
                        <i class="fas fa-trash-alt fa-lg text-danger"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
                $('.table').DataTable({
                    "language": {
                        "search": "Buscar:",
                        "lengthMenu": "Mostrar _MENU_ registros por página",
                        "zeroRecords": "No se encontraron registros",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "No hay registros disponibles",
                        "infoFiltered": "(filtrado de _MAX_ registros totales)"
                    }
                });
            });
    </script>
}