@model IEnumerable<InscripcionMaterias.Models.Inscripcion>

@{
    ViewData["Title"] = "Inscripciones";
}

<h1>Inscripciones</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<p>
    <a asp-action="Inscripcion" class="btn btn-success">Ir a inscripción de materias</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CicloAcademico)</th>
            <th>@Html.DisplayNameFor(model => model.Anio)</th>
            <th>Pensum</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CicloAcademico</td>
                <td>@item.Anio</td>
                <td>@item.IdPensumNavigation?.Carrera</td> <!-- Asegúrate que Pensum tiene esta propiedad -->
                <td>@item.Estado</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>